.sidebar {
  width: 50px;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.sidebar-items {
  flex: 1;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
  border-left: 3px solid transparent;
  position: relative;
}

.sidebar-item:hover::after {
  opacity: 1;
}

.item-icon {
  font-size: 18px;
  color: #ffffff;
}

.sidebar-item:hover .item-icon,
.sidebar-item.active .item-icon {
  color: rgb(28, 255, 28);
}